<!-- <a *ngIf="isLoggedIn(); else login" class=" testimonial classic" routerLink="/Dashboard"> -->
  <a class=" testimonial classic" routerLink="/Dashboard">
  <img
    src="../assets/images/user-images/{{ profileImage }}"
    alt="User"
    style="max-height:40px; width:40px; vertical-align: middle; margin-bottom: 0"
  />
</a>

<!-- <ng-template #login>
    <a class=" testimonial classic" routerLink="/Dashboard">
      <i class="fa fa-sign-in fa-1x" aria-hidden="true"></i>
    </a>
</ng-template> -->
