<!--Dashboard Tables-->
<section id="pricing" class="d-block secondary-color text-center scrollto clearfix ">
  <div class="row clearfix">
    <div class="col-3">
      <div class="panel">
        <div class="panel-body center">
            <blockquote class="testimonial classic">
                <img *ngIf="user.image; else defaultImg" src="assets/images/user-images/{{user.image}}" alt="User" />
                <ng-template #defaultImg>
                  <img src="assets/images/user-images/default-user.jpg" alt="User" />
                </ng-template>
                <q>{{user.bio}}</q>
                <footer>
                  <a (click)="logout()" class="button">Signout</a>
                </footer>
              </blockquote>
        </div>
      </div>
    </div>
    <div class="col-2-3">
        <div class="panel">
            <div class="panel-body">
                <div class="pricing-block-content">
                    <h3>{{user.firstName}} {{ user.lastName }}</h3>
                    <div class="pricing">
                      <p>{{user.bio}}</p>
                    </div>
                    <ul>
                      <li>{{user.email}}</li>
                    </ul>
                  </div>
            </div>
          </div>
    </div>
  </div>
</section>
<!--End of Dashboard Tables-->
